
@media (max-width: 576px) {
    .navbar .container {
        flex-direction: column;
        gap: 10px;
    }
}


.nav-pills .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-img-top,
#pills-home .col-12 img {  
    width: 100%;
    height: 18rem;  
    object-fit: cover;
}